<div class="center hero-unit">
<h1>Welcome to the Fashion App</h1>

<h2>
  This is the home page for the Fashion app.
</h2>
</div>

<!--testing buttons-->
<% if params[:items] == "false" %>
  <%= button("Show Items", params.merge(items: "true"), class: "btn btn-primary") %>
<% else %>
  <%= button("HIDE ITEMS", params.merge(items: "false"), class: "btn btn-primary") %>
<% end %>

<% if params[:pairings] == "false" %>
  <%= button("SHOW PAIRINGS", params.merge(pairings: "true"), class: "btn btn-primary") %>
  <%else%>
  <%= button("HIDE PAIRINGS", params.merge(pairings: "false"), class: "btn btn-primary") %>
  <%end%>
<!--testing buttons-->
  
<div id="cardgrid">
  <% @feed.each do |i| %>
    <% if i.is_a?(Item)%>
      <%= render partial: 'items/item', locals: {:item =>i} %>
    <%else%>
      <%= render partial: 'pairings/pairing', locals: {:pairing =>i} %>
    <%end%>
  <%end%>
</div>

<%= will_paginate @feed %>