<%= form_for(@item, :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :tag_list, "TAGS" %>
    <%= f.hidden_field :tag_list %>
  </div>
  <%= f.submit "Add to Collection", class: "btn btn-large btn-primary" %>
<% end %>
