<div class="card well">
  <div class="poster">
  <div class="avatar">
    <%= link_to(image_tag(item.user.images.first.small_url.to_s), user_path(item.user))%>
  </div>
  <div class="username">
    <%= link_to(item.user.name, user_path(item.user)) %>
  </div>
  <div class="timestamp">
    <%= time_ago_in_words(item.created_at) %> ago
  </div>
</div>

<div class="image">
  <%= link_to(image_tag(item.images.first.medium_url.to_s), "", data: {toggle:"modal"}, class: "modallauncher", modal: item_path(item)) %>
</div>
  <div class="cardtitle">
    <%= item.name %>
  </div>
<p class="faded">
  <span class="like_counter"><%= "#{item.like_items.count} Likes" %></span>
  <span class="comment_counter"><%= "#{item.comment_items.count} Comments" %></span>
</p>
</div>