<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'items/item_form' %>
      </section>
  </aside>
  <div class="span8">
    <% if @user.items.any? %>
      <h3>Items (<%= @user.items.count %>)</h3>
        <%= render @items %>
      <%= will_paginate @items %>
    <% end %>
  </div>


</div>
